# ignore all dot files
**/.*

# except
!.gitmodules
!.gitignore
# !.vscode

# virtualenv
.venv
venv/
ENV/

#custom hiden files
**/_*

#other
nohup.out
__*
___*
*.ipynb_checkpoints
config.ini
robots.txt